/.ItemCreationTemplate.java._trace
/.ItemCreationTemplate.xtendbin
/ItemCreationTemplate.java
/.RawMaterialTemplate.java._trace
/.RawMaterialTemplate.xtendbin
/.SKUCreationTemplate.java._trace
/.SKUCreationTemplate.xtendbin
/RawMaterialTemplate.java
/SKUCreationTemplate.java
